$earthdaily-palette-primary: (
  50: #e0f6fe,
  100: #b3e8fc,
  200: #80d9fa,
  300: #4dc9f7,
  400: #26bef6,
  500: #00b2f4,
  600: #00abf3,
  700: #00a2f1,
  800: #0099ef,
  900: #008aec,
  A100: #ffffff,
  A200: #e0f0ff,
  A400: #add8ff,
  A700: #93ccff,
  contrast: (
    50: #192432,
    100: #192432,
    200: #192432,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #192432,
    A200: #192432,
    A400: #192432,
    A700: #192432,
  ),
);

$earthdaily-palette-accent: (
  50: #e9f8f1,
  100: #c7eedc,
  200: #a2e3c5,
  300: #7cd7ae,
  400: #60cf9c,
  500: #44c68b,
  600: #3ec083,
  700: #35b978,
  800: #2db16e,
  900: #1fa45b,
  A100: #deffec,
  A200: #abffce,
  A400: #78ffb1,
  A700: #5effa2,
  contrast: (
    50: #192432,
    100: #192432,
    200: #192432,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #192432,
    A200: #192432,
    A400: #192432,
    A700: #192432,
  ),
);
